<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 지도 표시를 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU2B10"
        tools:targetApi="31">
        <!-- 앱 실행 시 로그인 화면이 먼저 보임 -> 로그인 성공 시 IntroActivity 화면으로 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" android:exported="false" /> <activity android:name=".MainActivity" android:exported="false" /> <activity
        android:name=".QuizActivity"
        android:exported="false" />
        <activity
            android:name=".BuildingDetailActivity"
            android:exported="false" /> <meta-data
        android:name="com.kakao.vectormap.KAKAO_MAP_KEY"
        android:value="a31e7bfdd6eb8702e14303b8df909522" />
    </application>

</manifest>